In [1]:
"""
NUEVOS DATOS
"""
import pandas as pd

In [2]:
df = pd.read_csv('DatosActualizados.csv')
df.head()

   CustomerId            brand        size    week      Sales
0   500277171      CIEL EXPRIM  INDIVIDUAL  202018   1.056700
1   500254405        COCA-COLA    FAMILIAR  202018  60.584799
2   500255970             JOYA    FAMILIAR  202018  35.223399
3   500256780  TOPO CHICO A.M.    FAMILIAR  202018   3.170200
4   500260292  COCA-COLA LIGHT  INDIVIDUAL  202018   6.340500

# Análisis Exploratorio

In [3]:
df.shape

(814111, 5)

In [4]:
df.brand.unique()

array(['CIEL EXPRIM', 'COCA-COLA', 'JOYA', 'TOPO CHICO A.M.',
       'COCA-COLA LIGHT', 'COCA-COLA SIN AZÚCAR', 'DEL VALLE Y NADA',
       'VALLE FRUT', 'SPRITE', 'FANTA', 'FRESCA', 'POWERADE',
       'CIEL AGUA PURIFICADA', 'COCA-COLA ENERGY', 'SIDRAL MUNDET',
       'FUZE TEA', 'TOPO CHICO SANGRIA LIGHT', 'DELAWARE PUNCH', 'MIXTOS',
       'PULPY', 'COCA-COLA CAFÉ', 'FRUTSI', 'DEL VALLE', 'TOPO CHICO',
       'SIERRAZUL AGUA PURIFICADA', 'SANTA CLARA SABORIZADA',
       'COCA-COLA LIGHT SIN CAFEINA', 'MONSTER ENERGY',
       'TOPO CHICO SANGRÍA', 'SPRITE SIN AZÚCAR', 'SENZAO', 'ADES FRUTAL',
       'MANZANA LIFT', 'DEL VALLE RESERVA', 'CIEL MINI',
       'CIEL MINERALIZADA', 'GLACÉAU', 'SANTA CLARA DESLACTOSADA',
       'SANTA CLARA ENTERA', 'SANTA CLARA LIGHT', 'ISOLITE',
       'SANTA CLARA DESLACTOSADA LIGHT', 'ADES LÁCTEO', 'CAFÉ BLAK',
       'SANTA CLARA SEMIDESCREMADA'], dtype=object)

In [5]:
len(df.brand.unique())

45

In [6]:
df['week'].unique()

array([202018, 202019, 202020, 202021], dtype=int64)

In [7]:
dfTemp = df
dfTemp["product"] = dfTemp["brand"] + " " + dfTemp['size']

In [8]:
dfTemp.head()

,CustomerId,brand,size,week,Sales,product
0,500277171,CIEL EXPRIM,INDIVIDUAL,202018,1.056700,CIEL EXPRIM INDIVIDUAL
1,500254405,COCA-COLA,FAMILIAR,202018,60.584799,COCA-COLA FAMILIAR
2,500255970,JOYA,FAMILIAR,202018,35.223399,JOYA FAMILIAR
3,500256780,TOPO CHICO A.M.,FAMILIAR,202018,3.170200,TOPO CHICO A.M. FAMILIAR
4,500260292,COCA-COLA LIGHT,INDIVIDUAL,202018,6.340500,COCA-COLA LIGHT INDIVIDUAL

In [9]:
dfTemp.shape

(814111, 6)

In [10]:
listaElementosIniciales = list(dfTemp['product'].unique())
print(len(listaElementosIniciales))

67

In [11]:
unique_Customers = dfTemp['CustomerId'].nunique()
print(unique_Customers)

19104

In [12]:
unique_Customers/dfTemp.shape[0]

0.02346608754825816

Se dividen las ventas por semanas en diferentes data frames.

In [13]:
dfTemp = dfTemp.drop(columns=['brand', 'size'])
dfWeek18 = dfTemp[dfTemp['week']==202018]
dfWeek19 = dfTemp[dfTemp['week']==202019]
dfWeek20 = dfTemp[dfTemp['week']==202020]
dfWeek21 = dfTemp[dfTemp['week']==202021]

In [14]:
dfWeek18 = dfWeek18.drop(columns=['week'])
dfWeek18.head()

   CustomerId      Sales                     product
0   500277171   1.056700      CIEL EXPRIM INDIVIDUAL
1   500254405  60.584799          COCA-COLA FAMILIAR
2   500255970  35.223399               JOYA FAMILIAR
3   500256780   3.170200    TOPO CHICO A.M. FAMILIAR
4   500260292   6.340500  COCA-COLA LIGHT INDIVIDUAL

In [15]:
dfWeek18.shape

(238964, 3)

In [16]:
dfWeek18['CustomerId'].nunique()

18069

In [17]:
dfWeek18.sort_values(by=['CustomerId'])

        CustomerId      Sales                          product
105010   500000101   2.536200       TOPO CHICO A.M. INDIVIDUAL
690932   500000101   4.226800           CIEL EXPRIM INDIVIDUAL
249313   500000101  52.835499               COCA-COLA FAMILIAR
525933   500000101   3.522400    CIEL AGUA PURIFICADA FAMILIAR
252891   500000101   4.797600  COCA-COLA SIN AZÚCAR INDIVIDUAL
...            ...        ...                              ...
699123  8700086000   1.500500                SPRITE INDIVIDUAL
209543  8700086000   1.500500       COCA-COLA LIGHT INDIVIDUAL
122238  8700086000   1.416000             DEL VALLE INDIVIDUAL
106432  8700086000   1.500500         SIDRAL MUNDET INDIVIDUAL
660692  8700086350   0.634050             COCA-COLA INDIVIDUAL

[238964 rows x 3 columns]

In [18]:
dfTemp18 = dfWeek18.groupby(['CustomerId', 'product']).sum()

In [19]:
dfTemp18.shape

(238964, 1)

In [20]:
dfWeek19 = dfWeek19.drop(columns=['week'])

In [21]:
dfTemp19 = dfWeek19.groupby(['CustomerId', 'product']).sum()
print(dfTemp19.shape)

(263645, 1)

In [22]:
dfWeek20 = dfWeek20.drop(columns=['week'])
dfTemp20 = dfWeek20.groupby(['CustomerId', 'product']).sum()

In [23]:
dfTemp20.head()

                                                Sales
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR     3.522400
           CIEL AGUA PURIFICADA INDIVIDUAL   6.340200
           COCA-COLA FAMILIAR               58.823599
           COCA-COLA INDIVIDUAL             33.848400
           COCA-COLA LIGHT FAMILIAR         14.089500

In [24]:
dfWeek21 = dfWeek21.drop(columns=['week'])
dfTemp21 = dfWeek21.groupby(['CustomerId', 'product']).sum()

In [25]:
dfTemp21.head()

                                              Sales
CustomerId product
500000171  COCA-COLA FAMILIAR                3.1701
           COCA-COLA INDIVIDUAL             19.7815
           COCA-COLA LIGHT INDIVIDUAL        5.0722
           COCA-COLA SIN AZÚCAR INDIVIDUAL   2.5362
           DEL VALLE Y NADA INDIVIDUAL       3.8043

In [26]:
deltas = dfTemp18 - dfTemp19
deltas = deltas - dfTemp20
deltas = deltas - dfTemp21

In [27]:
maskDelta = deltas.isna()
print(maskDelta.sum())

Sales    314558
dtype: int64

No deberían de haber valores NaN, debería de ser un número.
Los valores NaN, se presentan cuando en una de las dos semanas no se reportaron ventas de un producto
 en específico, pero en la otra semana sí se resportaron.

In [28]:
deltas.shape

(355371, 1)

In [29]:
deltas.head()

                                            Sales
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR      NaN
           CIEL AGUA PURIFICADA INDIVIDUAL    NaN
           CIEL EXPRIM INDIVIDUAL             NaN
           COCA-COLA CAFÉ INDIVIDUAL          NaN
           COCA-COLA ENERGY INDIVIDUAL        NaN

In [30]:
deltas['Sales18'] = dfTemp18['Sales']
deltas['Sales19'] = dfTemp19['Sales']
deltas['Sales20'] = dfTemp20['Sales']
deltas['Sales21'] = dfTemp21['Sales']

In [31]:
deltas.head()

                                            Sales  Sales18  Sales19  Sales20  \
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR      NaN   3.5224   7.0448   3.5224
           CIEL AGUA PURIFICADA INDIVIDUAL    NaN  28.5309  17.3299   6.3402
           CIEL EXPRIM INDIVIDUAL             NaN   4.2268   2.1134      NaN
           COCA-COLA CAFÉ INDIVIDUAL          NaN      NaN   0.2483      NaN
           COCA-COLA ENERGY INDIVIDUAL        NaN   0.2483      NaN      NaN

                                            Sales21
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR        NaN
           CIEL AGUA PURIFICADA INDIVIDUAL      NaN
           CIEL EXPRIM INDIVIDUAL               NaN
           COCA-COLA CAFÉ INDIVIDUAL            NaN
           COCA-COLA ENERGY INDIVIDUAL          NaN

In [32]:
deltas = deltas.drop(columns=['Sales'])

In [33]:
deltas.head()

                                            Sales18  Sales19  Sales20  Sales21
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR     3.5224   7.0448   3.5224      NaN
           CIEL AGUA PURIFICADA INDIVIDUAL  28.5309  17.3299   6.3402      NaN
           CIEL EXPRIM INDIVIDUAL            4.2268   2.1134      NaN      NaN
           COCA-COLA CAFÉ INDIVIDUAL            NaN   0.2483      NaN      NaN
           COCA-COLA ENERGY INDIVIDUAL       0.2483      NaN      NaN      NaN

In [34]:
deltas = deltas.fillna(0.0)

In [35]:
deltas.head()

                                            Sales18  Sales19  Sales20  Sales21
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR     3.5224   7.0448   3.5224      0.0
           CIEL AGUA PURIFICADA INDIVIDUAL  28.5309  17.3299   6.3402      0.0
           CIEL EXPRIM INDIVIDUAL            4.2268   2.1134   0.0000      0.0
           COCA-COLA CAFÉ INDIVIDUAL         0.0000   0.2483   0.0000      0.0
           COCA-COLA ENERGY INDIVIDUAL       0.2483   0.0000   0.0000      0.0

In [36]:
deltas['delta_1'] = deltas['Sales18'] - deltas['Sales19']
deltas['delta_2'] = deltas['Sales19'] - deltas['Sales20']
deltas['delta_3'] = deltas['Sales20'] - deltas['Sales21']

In [37]:
deltas.head()

                                            Sales18  Sales19  Sales20  \
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR     3.5224   7.0448   3.5224
           CIEL AGUA PURIFICADA INDIVIDUAL  28.5309  17.3299   6.3402
           CIEL EXPRIM INDIVIDUAL            4.2268   2.1134   0.0000
           COCA-COLA CAFÉ INDIVIDUAL         0.0000   0.2483   0.0000
           COCA-COLA ENERGY INDIVIDUAL       0.2483   0.0000   0.0000

                                            Sales21  delta_1  delta_2  delta_3
CustomerId product
500000101  CIEL AGUA PURIFICADA FAMILIAR        0.0  -3.5224   3.5224   3.5224
           CIEL AGUA PURIFICADA INDIVIDUAL      0.0  11.2010  10.9897   6.3402
           CIEL EXPRIM INDIVIDUAL               0.0   2.1134   2.1134   0.0000
           COCA-COLA CAFÉ INDIVIDUAL            0.0  -0.2483   0.2483   0.0000
           COCA-COLA ENERGY INDIVIDUAL          0.0   0.2483   0.0000   0.0000

In [38]:
deltas.shape

(355371, 7)

In [39]:
deltas.loc[500000101,:]

,Sales18,Sales19,Sales20,Sales21,delta_1,delta_2,delta_3
product,,,,,,,
CIEL AGUA PURIFICADA FAMILIAR,3.522400,7.0448,3.522400,0.0,-3.522400,3.522400,3.522400
CIEL AGUA PURIFICADA INDIVIDUAL,28.530900,17.3299,6.340200,0.0,11.201000,10.989700,6.340200
CIEL EXPRIM INDIVIDUAL,4.226800,2.1134,0.000000,0.0,2.113400,2.113400,0.000000
COCA-COLA CAFÉ INDIVIDUAL,0.000000,0.2483,0.000000,0.0,-0.248300,0.248300,0.000000
COCA-COLA ENERGY INDIVIDUAL,0.248300,0.0000,0.000000,0.0,0.248300,0.000000,0.000000
COCA-COLA FAMILIAR,52.835499,24.3042,58.823599,0.0,28.531299,-34.519399,58.823599
COCA-COLA INDIVIDUAL,35.695500,29.0086,33.848400,0.0,6.686900,-4.839800,33.848400
COCA-COLA LIGHT FAMILIAR,14.793900,14.0895,14.089500,0.0,0.704400,0.000000,14.089500
COCA-COLA LIGHT INDIVIDUAL,2.536100,5.0299,5.072200,0.0,-2.493800,-0.042300,5.072200
COCA-COLA SIN AZÚCAR FAMILIAR,7.044800,0.0000,7.044800,0.0,7.044800,-7.044800,7.044800
COCA-COLA SIN AZÚCAR INDIVIDUAL,4.797600,9.2078,5.403500,0.0,-4.410200,3.804300,5.403500
DEL VALLE Y NADA INDIVIDUAL,2.536200,2.5362,1.268100,0.0,0.000000,1.268100,1.268100
DELAWARE PUNCH INDIVIDUAL,1.268100,0.0000,1.268100,0.0,1.268100,-1.268100,1.268100
FANTA FAMILIAR,3.522400,0.0000,0.000000,0.0,3.522400,0.000000,0.000000
FANTA INDIVIDUAL,0.000000,0.0000,2.536200,0.0,0.000000,-2.536200,2.536200
FRESCA FAMILIAR,7.044800,7.0448,3.522400,0.0,0.000000,3.522400,3.522400
FRESCA INDIVIDUAL,1.268100,1.2681,0.000000,0.0,0.000000,1.268100,0.000000
SIDRAL MUNDET INDIVIDUAL,0.000000,1.2681,0.000000,0.0,-1.268100,1.268100,0.000000
SPRITE FAMILIAR,6.340300,11.2716,6.340300,0.0,-4.931300,4.931300,6.340300
SPRITE INDIVIDUAL,2.536200,0.0000,0.845400,0.0,2.536200,-0.845400,0.845400
SPRITE SIN AZÚCAR INDIVIDUAL,1.268100,1.2681,1.268100,0.0,0.000000,0.000000,1.268100
TOPO CHICO A.M. FAMILIAR,9.510600,6.3404,12.680800,0.0,3.170200,-6.340400,12.680800
TOPO CHICO A.M. INDIVIDUAL,2.536200,7.7776,8.876700,0.0,-5.241400,-1.099100,8.876700
VALLE FRUT FAMILIAR,0.000000,2.8179,2.817900,0.0,-2.817900,0.000000,2.817900
VALLE FRUT INDIVIDUAL,0.000000,1.2681,0.000000,0.0,-1.268100,1.268100,0.000000